.container {
    font-family: 'Roboto', sans-serif;
}

.nav {
    background: rgb(20, 95, 255);
    box-shadow: 0 0 10px black;
}

.nav-link {
    color: white;
}

.welcome {
    color: white;
    /* font-weight: bold; */
    padding-top: 100px;
    padding-left: 50px;
    /* font-family: 'Montserrat', sans-serif; */
}

.btn-welcome {
    padding-top: 20px;
}

.text-welcome {
    /* padding-top: 22px; */
}

.card-title . welcome {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


.block-intro {
    min-height: 410px;
    background: rgb(20, 95, 255);
    background-image: url(../picture-assets/overview_devices_rotated_2x.png);
    background-size: 100%;
    background-position: right center; 
    background-repeat: no-repeat;
}

.block-offers {
    min-height: 600px;
    background: rgb(204, 199, 199);
}

/* .card-img-top {
    position: -10px;
} */

.btn-primary {
    position: right;
    background-color: white;
    color: rgb(20, 95, 255);
    font-weight: bold;
    border: 0px;
}

.btn-link {
    color: rgb(100, 149, 255);
    position: left bottom;
}