.body {
    overflow-x: hidden;
}

.container {
    font-family: 'Roboto', sans-serif;
    padding-left: 0px;
    padding-right: 0px;
}

.nav {
    background: rgb(20, 95, 255);
    box-shadow: 0 0 5px black;
}

.spacer {
    height: 30px;
    width: 100%;
}

.nav-link {
    color: white;
}

.margin-t-30 {
    margin-top: -30px;
}

/* Nesusilygiuoja normaliai. Pažiūrėti kaip ją nustumti į dešinę */

.icon-questions {
    padding-top: 100px;
    color: white;
    justify-content: start;
}


.welcome {
    color: white;
    /* font-weight: bold; */
    padding-top: 100px;
    padding-left: 50px;
    /* font-family: 'Montserrat', sans-serif; */
}

.btn-welcome {
    padding-top: 20px;
    /* width: 100; */
    flex-wrap: nowrap;

}

/* .icons-block {

} */

.welcome-icon {
    /* align-items: center; */
    /* position: absolute;
    left: 50%;
    top: 50%; */
}

.icon-text {
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.card-title .welcome  {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


.block-intro {
    min-height: 500px;
    background: rgb(20, 95, 255);
    background-image: url(https://raw.githubusercontent.com/VikLes/Kursinis/master/picture-assets/overview_devices_rotated_2x.png);
    background-size: 100%;
    background-position: right center; 
    background-repeat: no-repeat;
}

.block-o-i {
    min-height: 600px;
    background: rgb(204, 199, 199);
}

.card-text {
    width: 100%;
    height: 80px;
}

.btn-primary {
    position: right;
    background-color: white;
    color: rgb(20, 95, 255);
    font-weight: bold;
    border: 0px;
}

.btn-link {
    color: rgb(100, 149, 255);
    position: left bottom;
}

.card {
    box-shadow: 0 0 2px black;
}

@media only screen and (max-width: 449px) {
    .container .wrapper {
        width: 100%;
    }

    .block-intro {
        height: calc(100vh - 60px - 26vh);
        background-size: 135%;
        /* background-position: -20% 34%; */
    }    
    
    .icons-block {
        width: 100%;
    }    

    .container .block-o-i {
        width: fit-content;
    }

    .block-offers {
        padding: inherit; 
    }

    /* .dropdown-nav {
        width: 580px;
    } */
}

/* @media only screen and (min-width: 320px) and (max-width: 576px) {
    .block-intro {
        width: 100%;
    }
    .block-icons {
        max-width: 30%;
    }
    .block-offers {
        flex-direction: column;
        
    }
} */
/* @media only screen and (max-width: 767px) {
    .block-intro {
        height: calc(100vh - 60px - 13vh);
        background-size: 135%;
        background-position: -20% 34%;
    }} */